
body {
    background-color: #add8e6; /* Light Blue Background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #8b0000;
    text-align: left;
    margin-top: 20px;
}

h3 {
    margin: 20px;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
}


.content {
    margin: 20px;
}

img {
    margin: 15px;
    border-radius: 10px;
}


.right-img {
    float: right;
    margin-left: 20px;
    border-radius: 10px;
}


.buttons {
    text-align: left;
    margin: 20px;
}

.btn {
    display: inline-block;
    background-color: #8b0000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
}

.btn:hover {
    background-color: #a52a2a;
}
